html
    head
        block styles
            link(rel='stylesheet' type='text/css' href='/css/style.css')
        title= title
    body
        div.content
            div.merc-select-grids
                div.merc-select-grid#merc-select-grid-blu
                    div.merc-select Scout
                    div.merc-select Soldier
                    div.merc-select Pyro
                    div.merc-select Demoman
                    div.merc-select Heavy
                    div.merc-select Engineer
                    div.merc-select Medic
                    div.merc-select Sniper
                    div.merc-select Spy
                div.merc-select-grid#merc-select-grid-red
                    div.merc-select Scout
                    div.merc-select Soldier
                    div.merc-select Pyro
                    div.merc-select Demoman
                    div.merc-select Heavy
                    div.merc-select Engineer
                    div.merc-select Medic
                    div.merc-select Sniper
                    div.merc-select Spy

