html {
    width: 100%;
    height: 100%;
}

body {
    margin: 3%;
    overflow: hidden;
}

.content {
    display: grid;
    grid-template-columns: 300px auto;
    height: 100%;
    border: solid black 1px;
}

.content > div {
    border: solid black 1px;
}

#left-panel {
    display: grid;
    grid-template-rows: 512px auto;
}

#left-panel iframe {
    width: 100%;
    height: 100%;
}

#right-panel {
    display: grid;
    grid-template-rows: 20% 80%;
}

#merc-select {
    display: grid;
    grid-template-columns: auto;
}

#merc-select > div {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    margin: 2px;
    padding: 2px;
    border: solid 3px;
}
#merc-select > div:nth-child(1) {
    border-color: blue;
}
#merc-select > div:nth-child(2) {
    border-color: red;
}

.merc-select {
    position: relative;
}

.record-win {
    display: block;
    margin: auto;
    border: solid 
}
.record-win[data-team='BLU'] {
    border: solid blue 1px;
}
.record-win[data-team='BLU']:hover {
    background-color: #abcbff;
}
.record-win[data-team='RED'] {
    border: solid red 1px;
}
.record-win[data-team='RED']:hover {
    background-color: #ff7d7d;
}

.merc-select-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 33.3% 33.3% 33.4%;
    border: solid #71808e 1px;
}
.merc-select-grid button {
    border: solid #71808e 1px;
}

#settings {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

#settings > div {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 10px;
    align-items: center;
}
#settings > div > select {
    width: 200px;
}

#settings #select-stage {
    width: 50px;
}

#tracking-grid {
    border-top: 2px solid black;
}
#tracking-grid table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-spacing: 0;
}
#tracking-grid th, td {
    position: relative;
    text-align: center;
    border: 1px solid black;
}

.blu-matchup-header {
    background-color: #abcbff;
}
.red-matchup-header {
    background-color: #ff7d7d;
}

.selected-highlight {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #faffae57;
    border: solid 1px;
    border-color: inherit;
}
